body{
    position: relative;
}
.announcement a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.announcement a:hover{
    text-decoration: underline;
    color: white;
    align-items: center;
    justify-content: center;
}
.announcement{
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
}
.main-menu-left{
    float: left;
}
.main-menu-center{
    align-items: center;
}
.main-menu-right{
    float: right;
}